.thePic {
  background-image: url(./img/andyFritz.png);
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
}

#member {
  text-align: center;
}

.col-xs-12>h1, h2, p {
  text-align: center;
}

#aboutP {
  width: 55vw;
  margin-left: 15vw;
}