.App {
  margin-top: 15px;
}

.App .navbar-brand {
  font-weight: bold;
}

section {
  max-width: 120vw;
  margin: 0 auto;
}

@media (max-width: 575px) {
    section {
      height: 290vw; 
    }

}
@media (min-width: 576px) and (max-width: 767px) { 
  section {
  height: 130vw;
 }
}
@media (min-width: 768px) and (max-width: 991px) {   
  section {
  height: 125vw;
  }
}

@media (min-width: 992) and (max-width: 1199px) { 
  section {
    height: 95vw;
  }
}
@media (min-width: 1200px) {
  section {
    height: 52vw;
  }
}
