.col-md-4 {
  margin-top: 2vw;
  text-align: center;
}

.col-md-4>p {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  text-decoration: underline;
  text-align: center;
}

h1 {
  text-align: center;
  text-decoration: underline;
  margin-top: 30px;
}

/*#services {
background-image: url(./img/greyBG.jpg);
 background-size: cover;
  height: 1200px;
  margin-top: 35px;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  background-repeat: no-repeat;
}*/

